body{
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

ul{
    font-weight: 700;
}

li {
    margin-bottom: 5px;
}

.fish-image{
    position: absolute;
    z-index: -2;
}

.field-man {
    visibility: hidden;
}

.popUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    width: 100px;
    height: 100px;
    background-color:rgb(248, 167, 158);
    position: absolute;
    left: 65%;
    top: 1.5%;
    border-radius: 100%;
    text-align: center;
    color: white;
    z-index: -1;
    line-height: 90%;
    transform: rotate(13deg);
}

.fishDiv {
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 240px;
    margin: 1% auto;
    z-index: 0;
}

.selectDiv {
    visibility: hidden;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 1% auto;
    height: 25px;
}

.fishInfo {
    width: 930px;
    height: 400px;
    background-color: salmon;
    overflow: scroll;
    margin: 1% auto;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    padding: 5px 20px;
    z-index: 1;
    position: relative;
    z-index: 10;
}

.fish-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.lookShit {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

table {
    cursor: pointer;
    border-spacing: 5px;
    text-align: center;
    line-height: 200%;
    margin: 15px auto;
}

fieldset{
    border: none;
    display: flex;
    justify-content: space-evenly;
}

td:hover {
    color: white;
}

th:hover {
    color: white;
}

.tile-data{
    visibility: visible;
    font-size: 1.4rem;
    text-align: center;
    margin: 125px auto;
    position: absolute;
    background-color: white;
}

.fish-text {
    height: 60px;
}

.fishInput {
    height: 75px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    visibility: hidden;
    justify-content: space-between;
}

form{
    font-size: 0.8rem;
    margin-top: 10px;
}

input{
    width: 12.5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    border-style: none;
    border-radius: 5px;
    background-color: rgb(251, 174, 165);
    color: white;
    width: 60px;
}


h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: salmon;
    margin-top: -5px;
}